<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tnb.ordit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.tnb.ordit.Home"
        android:allowBackup="true"
        android:icon="@mipmap/ordit_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme">
        <activity android:name="com.tnb.ordit.VECActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name="com.tnb.ordit.PPEActivity" />
        <activity android:name="com.tnb.ordit.MouseKeyboardActivity" />
        <activity android:name="com.tnb.ordit.ManualHandlingAcitvity" />
        <activity android:name="com.tnb.ordit.OfficeActivity" />
        <activity android:name="com.tnb.ordit.StretchingActivity" />
        <activity
            android:name="com.tnb.ordit.HeartResultActivity"
            android:label="Heart Rate Result" />
        <activity
            android:name="com.tnb.ordit.WaistHealthResult"
            android:label="Waist to Hip Result" />
        <activity
            android:name="com.tnb.ordit.SittingResultActivity"
            android:label="Ergonomic Assessment Result" />
        <activity
            android:name="com.tnb.ordit.StandingResultActivity"
            android:label="Ergonomic Assessment Result" />
        <activity
            android:name="com.tnb.ordit.SugarResultActivity"
            android:label="Glucose Level Result" />
        <activity
            android:name="com.tnb.ordit.BPResultActivity"
            android:label="Blood Pressure Result" />
        <activity
            android:name="com.tnb.ordit.BMIResultActivity"
            android:label="BMI Result" />
        <activity
            android:name="com.tnb.ordit.SittingActivity"
            android:label="Ergonomic Assessment" />
        <activity
            android:name="com.tnb.ordit.StandingActivity"
            android:label="Ergonomic Assessment" />
        <activity
            android:name="com.tnb.ordit.HeartHealthActivity"
            android:label="Heart Rate Calculator" />
        <activity
            android:name="com.tnb.ordit.WaistHealthActivity"
            android:label="Waist to Hip Calculator" />
        <activity
            android:name="com.tnb.ordit.SugarHealthActivity"
            android:label="Glucose Calculator" />
        <activity
            android:name="com.tnb.ordit.BPHealthActivity"
            android:label="Blood Pressure Calculator" />
        <activity
            android:name="com.tnb.ordit.BMIHealthActivity"
            android:label="BMI Calculator" />
        <activity
            android:name="com.tnb.ordit.ComplaintActivity"
            android:label="Complaint Form" />
        <activity
            android:name="com.tnb.ordit.ErgonomicActivity"
            android:label="Ergonomic Assessment" />
        <activity
            android:name="com.tnb.ordit.HealthMenuActivity"
            android:label="Basic Health Menu" />
        <activity
            android:name="com.tnb.ordit.ResetPasswordActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tnb.ordit.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tnb.ordit.HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tnb.ordit.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>